@using KutuphaneSistemi.Models.Entitiy
@model List<Tbl_Hareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UyeLayout.cshtml";
}

<div style="margin:20px 0px;">
    <h4 style="color:slateblue;"><i>Geçmiş Kitaplarım</i></h4>
</div>
<table class="table table-hover">
    <tr style="background-color:rgb(272,178,22)">
        <th>Kitap Adı</th>
        <th>Alış Tarihi</th>
        <th>Teslim Tarihi</th>
        <th>Detay</th>
    </tr>
    <tbody>
        @foreach(var x in Model)
            {
                <tr>
                    <td>@x.Tbl_Kitap.Kitapad</td>
                    <td>@Convert.ToDateTime(x.Alistarihi).ToShortDateString()</td>
                    <td>@Convert.ToDateTime(x.Teslimtarih).ToShortDateString()</td>
                    <td>
                        <a href="/UyeKitap/Detay/@x.Tbl_Kitap.Id" class="btn btn-success">Kitap Detay</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
