
@{
    ViewBag.Title = "Yardım";
    Layout = "~/Views/Shared/_UyeLayout.cshtml";
}
<h2 style="color:cadetblue"><i>Kütüphane Sistemi Yardım Merkezi</i></h2>

<h4>Sık Sorulan Sorular (FAQs):</h4>
<ol>
    <li>
        <p style="font-weight:bold;">Nasıl Üye Olurum?</p>
        <p>Üye olmak için ana sayfanın sağ üst köşesinde bulunan "Üye Ol" veya "Kayıt Ol" butonuna tıklayın ve gerekli bilgileri doldurun.</p>
    </li>
    <li>
        <p style="font-weight:bold;">Şifremi Unuttum, Ne Yapmalıyım?</p>
        <p>
            Şifrenizi sıfırlamak için "Şifremi Unuttum" seçeneğine tıklayın ve e-posta adresinizi girin. Size şifre sıfırlama talimatları gönderilecektir.
        </p>
    </li>
    <li>
        <p style="font-weight:bold;">Kitap İade ve İade Koşulları Nelerdir?</p>
        <p>Kitap iade politikamız hakkında daha fazla bilgi için site adminine mesaj atınız.</p>
    </li> 
</ol>

<ul>
    <li>
        <p style="font-weight:bold">Kılavuzlar ve Talimatlar:</p>
        <p>[Nasıl Kitap Teslim Alınır?] kılavuzu için tıklayın.</p>
        <p> Profilim sayfasından hesap ayarlarını değiştirebilirsiniz.</p>
    </li>
    <li>
        <p style="font-weight:bold">Güncellemeler ve Duyurular:</p>
        <p>Web sitemizle ilgili güncellemeler ve duyurular için Duyurular sayfasını ziyaret edin.</p>
    </li>
    <li>
        <p style="font-weight:bold">Sorun Giderme Rehberleri:</p>
        <p>Sık karşılaşılan sorunları çözmek için Yardım sayfasına göz atın.</p>
    </li>
</ul>

<div style="margin:20px 20px;">
    <h4>İletişim Bilgileri:</h4>
    <h6>Müşteri Desteği E-Posta:</h6> <p>destek@example.com</p>
    <h6>Telefon Desteği:</h6> <p>+123-456-7890</p>
</div>



 

















