<section class="page-section" id="contact">
    <div class="container">

        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">BİZE ULAŞIN</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Contact Section Form -->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                @using (Html.BeginForm("Mesaj", "Vitrin", FormMethod.Post)) {
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>İsim</label>
                            <input class="form-control" id="name" type="text" placeholder="İsim" name="Name" required="required" data-validation-required-message="Lütfen isminizi giriniz.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Mail Adresi</label>
                            <input class="form-control" id="email" type="email" placeholder="Mail Adresi" name="Mail" required="required" data-validation-required-message="Lütfen mail adresinizi giriniz.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Telefon Numarası</label>
                            <input class="form-control" id="phone" type="tel" placeholder="Telefon Numarası" name="Telefon" required="required" data-validation-required-message="Lütfen telefon numarasını giriniz.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Mesaj</label>
                            <textarea class="form-control" id="message" rows="5" placeholder="Mesaj" name="Mesaj" required="required" data-validation-required-message="Lütfen mesajınızı giriniz."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Gönder</button>
                    </div>
                </form>
                }
            </div>
        </div>

    </div>
</section>

